@model List<CourseGetVM>

<div class="container">
	<div class="row">

		<div><h2>Courses Table</h2></div>
		<a class="btn btn-success" asp-action="Create">Create a new Course</a>
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Title</th>
					<th scope="col">Rating</th>
					<th scope="col">Image</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var course in Model)
				{
					<tr>
						<th scope="row">@course.Id</th>
						<td>@course.Title</td>
						<td>@course.Rating</td>
						<td><img src="~/assets/img/@course.ImagePath"/></td>
						<td>	
							<a asp-action="Update" asp-route-id="@course.Id" class="btn btn-warning">Update</a>
							<a asp-action="Delete" asp-route-id="@course.Id" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>


	</div>
</div>